body{

    /* background-image: url('https://www.amritahospitals.org/_next/image?url=https%3A%2F%2Fadmin.amritahospitals.org%2Fsites%2Fdefault%2Ffiles%2F2023-05%2Fblood%2520donation.png&w=3840&q=100');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */

    background-color: rgba(245, 222, 179, 0.215);
}